Repository AlexKay28/langflow, pull requests merged in 2022-01, with the labels that each got.

#80 75 New design
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Answer/Answer.tsx
  frontend/src/components/Answer/answer.scss
  frontend/src/components/CurrentPage/CurrentPage.tsx
  frontend/src/components/CurrentPage/currentpage.scss
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Footer/footer.scss
  frontend/src/components/GoPractice/GoPractice.tsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/header.scss
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/LoginPage/LoginPage.jsx
  frontend/src/components/OurTeam/OurTeam.tsx
  frontend/src/components/Question/Question.tsx
  frontend/src/components/Question/question.scss
  frontend/src/components/RegistrationPage/RegistrationPage.jsx
  frontend/src/components/actions/auth.js
  frontend/src/components/actions/message.js
  frontend/src/components/actions/types.js
  frontend/src/components/helpers/history.js
  frontend/src/components/reducers/auth.js
  frontend/src/components/reducers/index.js
  frontend/src/components/reducers/message.js
  frontend/src/components/services/auth.service.js
  frontend/src/components/store.js
  frontend/src/images/avatar_alexkay.png
  frontend/src/images/avatar_alkhimovmv.png
  frontend/src/images/logo.png
  frontend/src/index.js
  frontend/src/utils/api.js
Labels: frontend

#86 83 Display answered questions bug
  frontend/src/components/Answer/Answer.tsx
  frontend/src/components/Question/Question.tsx
Labels: bug, frontend

#88 85 fix inadequate answer score
  backend/api/answer_api.py
  nlp_module/requirements.txt
  nlp_module/src/comparing.py
Labels: bug, ML
