Repository AlexKay28/langflow, pull requests merged in 2022-02, with the labels that each got.

#92 89 add tips to nlp service
  backend/api/answer_api.py
  backend/api/upload_phrases.py
  backend/tmp/phrases.csv
  backend/utils/db_controller.py
  backend/utils/facade_api.py
  data/.gitignore
  data/phrases.csv.dvc
  data/postgresql.zip.dvc
  nlp_module/api/__init__.py
  nlp_module/api/get_similarity.py
  nlp_module/api/swaggers/get_similarity_api.yml
  nlp_module/requirements.txt
  nlp_module/src/comparing.py
  nlp_module/src/tips.py
  rl_module/src/agent.py
  rl_module/src/environment.py
Labels: backend, frontend, ML

#94 62 Add notifications
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/LoginPage/LoginPage.jsx
  frontend/src/components/RegistrationPage/RegistrationPage.jsx
  frontend/src/components/actions/auth.js
  frontend/src/components/actions/message.js
  frontend/src/components/services/auth.service.js
  frontend/src/components/store.ts
Labels: frontend

#99 98 Network + Relative path
  .DS_Store
  backend/.env
  backend/app.py
  docker-compose.yml
  nlp_module/app.py
  rl_module/app.py
  rl_module/requirements.txt
  rl_module/src/environment.py
Labels: bug, backend

#101 100 resolve npm install problem
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
Labels: bug, frontend
